<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0Il1EW4BJA6zeqzAt0q42qAYCXolBhz0</string>
	<key>GCM_SENDER_ID</key>
	<string>295121248882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cameron.BucketList</string>
	<key>PROJECT_ID</key>
	<string>bucketlist-2518f</string>
	<key>STORAGE_BUCKET</key>
	<string>bucketlist-2518f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295121248882:ios:acf5cf5fcf814204f398eb</string>
</dict>
</plist>